body {
    background-image: url(bg.jpg);
}

.kotak{
    background-color: #CEE5D0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border-radius: 10px;
    padding-left: 30px;
    padding-bottom: 25px;
    padding-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
}

.kotak input{
    border: 2px solid #181818;
    border-radius: 4px;
    width: 250px;
    padding: 5px 8px;
    margin: 3px 0;
    box-sizing: border-box;
}

.kotak button{
    background-color: #191919;
    color: white;
    border: none;
    text-decoration: none;
    padding: 8px 25px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 10px;
}

.kotak p{
    top: 5px;
    /* position: relative; */
}
